body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: small;
    background: #fbfbfb;
}

#header {
    position: fixed;
    height: 45px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 3;
    background: #e8e8e8;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
#headerIconPane{
	position: absolute;
	height: 45px;
	right: 0;
	top: 0;
}
#logo {
    height: 35px;
    width: 35px;
    display: inline-block;
    position: absolute;
    /* top: 3px; */
    /* left: 5px; */
    /* background-color: #e91e63; */
    border: 5px solid #e91e6300;
}

#metaDataContainer {
    z-index: 2;
    box-sizing: border-box;
    display: inline-block;
    line-height: 16px;
    height: 20px;
    vertical-align: baseline;
    position: fixed;
    top: 65px;
    left: 50px;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    /* padding: 2px 12px; */
    /* background: #d2d2d2; */
    /* border-radius: 10px; */
    text-transform: uppercase;
}

#metaDataContainer .metadataItem {
    display: inline-block;
    margin-right: 20px;
    padding: 2px 12px;
    background: #d2d2d2;
    border-radius: 10px;
}

#contentArea {
    position: relative;
    top: 90px;
    z-index: 1;
    margin: 0 40px;
}
#userInfoPane{
	position: fixed;
	right: 8px;
	background: #d2d2d2;
	top: 45px;
	box-shadow: 0px 5px 8px 0px grey;
	padding: 4px 10px;
}
#userInfoPane:before{
    position:absolute;
    content:'';
    height:0;
    width:0;
    border:10px solid transparent;
    border-top:0;
    border-bottom-color: #d2d2d2;
    top: -8px;
    right: 4px;
}
#userInfoPane .userName{
	text-align: center;
	font-size: medium;
	margin: 10px 0;
}
#userInfoPane .userInfoBody{
	text-align: center;
    font-size: medium;
    margin: 10px 0 10px;
}
#userInfoPane .button{
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}
#leftPanel {
    position: fixed;
    top: 45px;
    width: 250px;
    left: -255px;
    z-index: 3;
    height: 100%;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1) all;
    background: white;
    box-shadow: 2px 2px 4px 0px #bbbbbb;
    height: 90%;
}

#leftPanel.isVisible {
    left: 0px;
    top: 45px;
}

#cardContainer {
    padding: 2px 2px;
    /* background: white; */
    user-select: none;
}

#cardContainer .indexCard {
    margin: 15px 8px 8px;
    vertical-align: top;
}

#cardContainer.fadeCards {
    margin-right: 250px;
}

#rightPanel {
    position: fixed;
    top: 50px;
    width: 250px;
    right: 0;
    z-index: 2;
}

#footer {
}

#header .icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin: 6px 5px;
    cursor: pointer;
    transition: 100ms linear all;
    transition: 100ms linear all;
    border-radius: 50%;
    border: 4px solid transparent;
    height: 25px;
    width: 25px;
}

#menuIcon.icon {
    background-image: url(../icons/menu.png);
}

#viewIcon.icon {
    background-image: url(../icons/view.png);
    /* opacity: 0.8; */
}

#createNewFile.icon {
    background-image: url(../icons/newfileB.png);
}

#overviewIcon.icon {
    background-image: url(../icons/overview.png);
    position: absolute;
    right: 255px;
}

#saveFile.icon {
    background-image: url(../icons/backup.png);
}

#fileuploadmask.icon {
    background-image: url(../icons/open.png);
}
#user.icon {
    background-image: url(../icons/user.png);
    background-color: #2196f3;
    margin-left: 10px;
    border: none;
    height: 33px;
    width: 33px;
}
#header #user.icon:hover {
    border: none;
    transform: scale(1.1);
}
body.viewOnly #viewIcon.icon {
    background-color: #fbb043;
    border: 4px solid #fbb043;
}

#header .icon:hover {
    background-color: #e91e63;
    border: 4px solid #e91e63;
}

#header .icon:active {
    background-color: #fbb043;
    border: 4px solid #fbb043;
}

div#fileNamelabel {
    display: inline-block;
    line-height: 41px;
    height: 35px;
    margin: 0px 0px;
    overflow: hidden;
    position: relative;
    margin-left: 12px;
    vertical-align: baseline;
    opacity: 0;
}

#fileName {
    padding: 0px 2px;
    display: inline-block;
    font-size: 20px;
    color: #101010;
    margin: 0px 0;
    margin-top: 5px;
    max-width: 500px;
    height: 35px;
    overflow: hidden;
    min-width: 200px;
    border: 1px solid white;
    border-radius: 2px;
    cursor: text;
    border-color: #e8e8e8;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 35px;
    font-weight: lighter;
    text-decoration: none;
}

#fileName:hover {
    background: #ffffff;
    color: black;
}

#fileName:focus {
    background: white!important;
    outline: none;
    color: black;
    border-color: #7a9fd8;
    cursor: unset;
}

#savedTime {
    display: inline-block;
    font-size: small;
    color: grey;
}

#openFile, #openFile:hover, #openFile:active {
    /* z-index: 1; */
    cursor: pointer;
    right: 25px;
    display: inline-block;
    box-sizing: border-box;
    /* border: 0; */
    outline: none;
    opacity: 0;
    background: black;
    border-radius: 50%;
    border: 4px solid transparent;
    height: 33px;
    width: 33px;
    margin: 6px 5px;
    overflow: unset;
    padding: 4px;
    min-width: unset;
}

#openFile::after {
    content: 'OPEN';
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    margin: 0;
    box-sizing: border-box;
}
.button, .button:active,.button::after {
    height: 30px;
    min-width: 100px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    background: TRANSPARENT;
    padding: 0px 4px;
    margin: 8px 8px 8px 8px;
    cursor: pointer;
    BORDER: 1PX SOLID #2196f3;
    LINE-HEIGHT: 30px;
    BORDER-RADIUS: 4PX;
    background: #2196f3;
    color: white;
    overflow: hidden;
    outline: none;
}

.button:hover, .button:hover::after {
    /* opacity: 0.8; */
    BACKGROUND: #ffffff00;
    COLOR: #393939;
    border-color: #393939;
}

.metadataItem .label {
    font-size: 10px;
    /* text-transform: uppercase; */
    color: black;
    margin: 0 2px 0 0;
}

.metadataItem .value, .metadataItem .detailedValue {
    color: black;
    /* font-weight: bold; */
    font-size: 12px;
}

.metadataItem .detailedValue {
    /* display:none; */
    position: absolute;
    background: black;
    top: 0px;
    display: block;
    color: white;
    width: 160px;
    left: 0;
    padding: 5px;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    /* z-index: 1; */
    transition: 100ms linear all;
}

#time.metadataItem .detailedValue:hover {
    opacity: 1;
}

#searchContainer {
    position: fixed;
    top: 65px;
    top: 5px;
    width: 400px;
    left: 150px;
    z-index: 3;
    right: 0;
    height: 30px;
    margin: auto;
    box-shadow: 0px 0px 6px 1px #c7c7c7;
    padding: 2px 4px;
    overflow: hidden;
    border-radius: 2px;
    background: white;
}

#searchContainer .searchBar {
    width: 370px;
    border: none;
    position: absolute;
    border: none;
    /* height: 30px; */
    font-size: 18px;
    line-height: 34px;
    color: #191919;
    outline: none;
    cursor: text;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    vertical-align: middle;
    top: 0;
}

#searchContainer:hover {
    box-shadow: 0px 0px 6px 1px #a9a7a7
}

#searchContainer .icon {
    display: inline-block;
    position: absolute;
    right: 5px;
    height: 25px;
    width: 25px;
    margin: 4px;
}

:placeholder {
    color: #afafaf;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #afafaf;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #afafaf;
}

#masterButtonPane {
    position: fixed;
    top: 60px;
    /* width: 200px; */
    right: 50px;
    z-index: 2;
    height: 30px;
    /* display: none; */
}
#viewControlsPane {
    position: fixed;
    top: 50px;
    width: 300px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    height: 30px;
    /* display: none; */
}

#masterButtonPane .masterButton:hover::after {
    position: absolute;
    top: 100%;
    font-size: 10px;
    margin-top: 8px;
    background: grey;
    padding: 2px 8px;
    color: white;
    left: -5px;
    border-radius: 4px;
}

#masterButtonPane #beatButton:hover::after {
    content: 'BEATS';
}

#masterButtonPane #actButton:hover::after {
    content: 'ACT';
}

#masterButtonPane #emoButton:hover::after {
    content: 'EMOTION';
}
#masterButtonPane #pageMeterButton:hover::after {
    content: 'PAGE METER';
}
#masterButtonPane #beatButton {
    background-image: url(../icons/beat.png);
}
#masterButtonPane #actButton {
    background-image: url(../icons/act.png);
}
#masterButtonPane #emoButton {
    background-image: url(../icons/emotion.png);
	display:none;
}
#masterButtonPane #pageMeterButton {
    background-image: url(../icons/pagemeter.png);
}
body.showActColors #masterButtonPane #actButton.masterButton, #masterButtonPane #actButton:hover {
    background-color: #FFC107;
}

body.showBeats #masterButtonPane #beatButton.masterButton, #masterButtonPane #beatButton:hover {
    background-color: #4caf50;
}

body.showEmo #masterButtonPane #emoButton.masterButton, #masterButtonPane #emoButton:hover {
    background-color: #F44336;
}
body.showPageMeter #masterButtonPane #pageMeterButton.masterButton, #masterButtonPane #pageMeterButton:hover {
    background-color: #03a9f4;
}

#masterButtonPane.buttonActive .masterButton {
}

.masterButton {
    background-color: #a9a9a9;
    display: inline-block;
    height: 22px;
    width: 22px;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: 8px solid transparent;
    transition: 100ms linear all;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-right: 4px;
}

.masterButton:hover {
    transform: scale(1.1);
}

#deleteZone {
    height: 80px;
    width: 120px;
    display: none;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 20px;
    background-color: #000000;
    box-shadow: 0px 0px 4px 2px #9e9c9c;
    z-index: 2;
    cursor: pointer;
    transition: 200ms linear transform;
}

#deleteZone.isVisible {
    display: inline-block;
}

#deleteZone.isVisible:hover {
    transform: scale(1.1);
    opacity: 0.4;
}

#deleteZone .deleteZoneIcon {
    background-image: url(../icons/deletewhite.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
}

#deleteZone .deleteZoneText {
    text-align: center;
    font-size: medium;
    margin: 4px 0;
    color: white;
}

#blocker {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000000a6;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}
#busy{
    height: 100%;
    width: 100%;
    background: #000000a6;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}
#busy .busyIndicator{
	height: 50px;
	width: 50px;
	background-image: url(../icons/busy.gif);

}

.dialogPrompt {
    top: 170px;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    position: fixed;
    z-index: 3;
    width: 400px;
    max-height: 400px;
    height: fit-content;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.dialogPromptHeader {
    color: white;
    text-align: center;
    font-size: large;
    margin: 0px 0px;
    /* font-weight: bold; */
    background: #009688;
    padding: 8px 0;
}

.dialogPromptBody {
    padding: 12px 25px;
    font-size: large;
    margin: 8px 0;
}

.dialogPromptSign {
    padding: 0 28px;
    font-size: medium;
    text-align: end;
    color: #bbbbbb;
    font-weight: bold;
}

.dialogPrompt .button {
    position: relative;
    margin-left: 20px;
}

@media only screen and (max-width: 1280px) and (orientation: portrait) {
    #contentArea {
        margin: unset;
        top: 155px;
        width: fit-content;
        width: var(--card-width);
        left: 0;
        margin: auto;
        right: 0;
    }

    #header {
        height: 60px;
    }

    #leftPanel {
    }

    #cardContainer {
        padding: 0;
    }

    #cardContainer .indexCard {
        margin: 15px 0 8px;
    }

    #cardContainer.fadeCards {
    }

    #rightPanel {
    }

    #footer {
    }

    #header .icon {
        height: 35px;
        width: 35px;
        margin: 9px 3px;
    }

    #viewIcon.icon {
        /* right: 220px; */
    }

    #createNewFile.icon {
        /* right: 255px; */
    }

    #logo {
        height: 50px;
        width: 50px;
        top: 5px;
    }

    #menuIcon.icon {
        height: 40px;
        width: 40px;
    }

    div#fileNamelabel {
        display: none;
    }

    #fileName {
        display: none;
    }

    #fileName:focus {
    }

    #savedTime {
    }

    #openFile, #openFile:hover, #openFile:active {
        right: 25px;
    }

    #fileuploadmask {
        right: 5px;
    }

    #saveFile {
    }

    .button, .button:active {
        height: 45px;
        font-size: 20px;
        right: 5px;
    }

    #metaDataContainer {
        display: none;
    }

    #searchContainer {
        height: 40px;
        width: var(--card-width);
        top: 125px;
        left: 0;
        right: 0;
        margin: auto;
        box-sizing: border-box;
        /* background: unset; */
        /* box-shadow: unset; */
        padding: 0;
    }

    #searchContainer .searchBar {
        width: var(--card-width);
    }

    #searchContainer:hover {
    }

    #searchContainer .icon {
        display: inline-block;
        height: 35px;
        width: 35px;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
        border: 4px solid transparent;
        transition: 100ms linear all;
        cursor: pointer;
        background-repeat: no-repeat;
        margin: 0 0px 0 0;
    }

    #masterButtonPane {
    width: var(--card-width);
    left: 0;
    right: 0;
    margin: auto;
    }
	#viewControlsPane{
		display:none;
	}

    .masterButton {
        /* display: block; */
        margin-top: 5px;
        height: 40px;
        width: 40px;
        box-shadow: 0px 0px 4px 0px #8c8c8c;
        background-color: #607d8b;
    }

    .masterButton:hover {
    }

    #deleteZone {
    }

    #deleteZone.isVisible {
    }

    #deleteZone.isVisible:hover {
    }

    #deleteZone .deleteZoneIcon {
    }

    #deleteZone .deleteZoneText {
    }

    #blocker {
    }
}
