.indexCard {
    display: inline-block;
    height: var(--card-height);
    width: var(--card-width);
    box-shadow: 1px 4px 6px 2px #e6e6e6;
    /* border: 1px solid var(--color-blue);; */
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: small;
    position: relative;
    overflow: hidden;
    user-select: none;
    position: relative;
    /* border: 1px solid #f1f1f1; */
    background: white;
    border-radius: 4px;
}

.indexCard.sizeS {
    height: var(--card-height-s);
    width: var(--card-width-s);
    font-size: smaller;
}

#cardContainer.reordermode .indexCard {
    position: fixed;
}

.indexCardTitle {
    padding: 2px 4px;
    height: var(--card-titleH);
    outline: none;
    background-color: var(--color-blue);
    color: white;
    border-bottom: 1px solid transparent;
    font-size: 14px;
    z-index: 1;
    position: relative;
}

.indexCard .currentColor {
    background-color: var(--color-blue);
    height: 20px;
    width: 20px;
    /* position: absolute; */
    border-radius: 50%;
    cursor: pointer;
    color: #696666;
    font-size: medium;
    font-weight: bold;
    bottom: 0;
    transition: 200ms linear all;
    outline: none;
    left: 4px;
}

.indexCard.blue .indexCardTitle, .indexCard.blue .currentColor,.indexCard.blue .indexCardBg {
    background-color: var(--color-blue);
    ; color: white;
}

.indexCard.red .indexCardTitle, .indexCard.red .currentColor,.indexCard.red .indexCardBg {
    background-color: var(--color-red);
    ; color: white;
}

.indexCard.green .indexCardTitle, .indexCard.green .currentColor,.indexCard.green .indexCardBg {
    background-color: var(--color-green);
    ; color: white;
}

.indexCard.orange .indexCardTitle, .indexCard.orange .currentColor,.indexCard.orange .indexCardBg {
    background-color: var(--color-orange);
    ; color: white;
}

.indexCard.violet .indexCardTitle, .indexCard.violet .currentColor,.indexCard.violet .indexCardBg {
    background-color: var(--color-violet);
    ; color: white;
}

.indexCardTitle:focus {
    background: white;
    border: 1px solid #82b3ff;
    color: #696868;
}

.indexCardContent {
    padding: 4px;
    height: 198px;
    max-height: 168px;
    overflow-y: auto;
    scroll-margin: 0;
    scroll-padding: 0;
    outline: none;
    color: #3e3e3e;
    /* background: white; */
    position: relative;
    /* border: 1px solid #e8e8e8; */
    border-bottom: 0;
    font-size: 14px;
    display: block;
    font-family: inherit;
    resize: none;
    width: 100%;
    border: none;
    box-sizing: border-box;
}

.indexCard:hover .indexCardContent {
    height: 175px;
}

.indexCard .indexCardNotes {
    padding: 4px 8px;
    height: var(--card-height);
    overflow-y: auto;
    scroll-margin: 0;
    scroll-padding: 0;
    outline: none;
    color: grey;
    position: relative;
    border-bottom: 0;
    position: absolute;
    top: 40px;
    background: #e8e8e8;
    color: black;
    width: 100%;
    /* font-family: monospace; */
    font-size: small;
    box-sizing: border-box;
    top: -200px;
    transition: 300ms ease-in-out all;
    word-break: break-word;
}

.indexCard .indexCardNotes.isVisible {
    top: 40px;
}

.indexCardBg {
    position: absolute;
    height: 0;
    transition: 200ms ease height;
    width: 100%;
}

body.viewOnly .indexCardBg {
    /*height: 100%;*/
}

body.viewOnly .indexCardContent {
    /* color: black; */
    /* border-color: transparent; */
}

body.viewOnly .indexCardTitle {
    border-bottom: 1px solid white;
}

.indexCardNumber {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    line-height: 32px;
    color: #a9a9a9;
    /* text-align: center; */
    background: white;
    padding: 0 4px;
}

.indexCardAct {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    line-height: 32px;
    color: #908e8e;
    /* text-align: center; */
    background: white;
    padding: 0 4px;
    right: 5px;
    text-transform: uppercase;
}

.indexCardTitle div, .indexCardContent div {
    position: relative;
}

.indexCardFooter {
    position: relative;
    width: 100%;
    height: 31px;
    background: #f7f7f7;
    /* border-top: 1px solid #b7b7b7; */
    transition: 200ms ease all;
    bottom: -33px;
    overflow: hidden;
    opacity: 0;
    background: #e8e8e8;
    column-count: 5;
    display: block;
    padding-top: 2px;
}

.indexCardFooter .indexCardColumn {
    /* margin-top: 7px; */
    position: relative;
    padding-top: 4px;
}

.indexCard.isEditable:hover .indexCardFooter,.indexCard.isEditable:active .indexCardFooter {
    bottom: 0;
    opacity: 1;
}

.indexCard .icon:hover {
    transform: scale(1.1);
    opacity: 1;
    border-color: #010101;
    color: #010101;
}

.indexCard .icon:active {
    opacity: 0.8;
}

.indexCard .icon {
    color: #696666;
    font-size: medium;
    font-weight: bold;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 200ms linear all;
    outline: none;
    opacity: 1;
    display: block;
    margin: auto;
}

.indexCard .icon.move {
    cursor: grab;
    background-image: url(../icons/move.png);
}

.indexCard .delete.icon {
    background-image: url(../icons/delete.png);
    cursor: pointer;
    display: none;
}

.indexCard .popout.icon {
    background-image: url(../icons/popout.png);
    cursor: pointer;
    /* right: 60px; */
}

.indexCard .tag.icon {
    background-image: url(../icons/tag.png);
    cursor: pointer;
    /* left: 60px; */
}

.indexCard .addCard.icon {
    background-image: url(../icons/add.png);
    cursor: pointer;
}

.indexCard .info.icon {
    background-image: url(../icons/info.png);
    cursor: pointer;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    margin: 7px;
    display: none;
    background-color: #777777;
    border-radius: 50%;
    z-index: 2;
}

.indexCard:hover .info.icon {
    display: unset;
}

.indexCard.proxyCard {
    position: fixed;
    top: 200px;
    left: 20px;
    box-shadow: 1px 8px 7px 2px #737272;
    cursor: move;
    border: none;
    margin: 0;
    userSelect: none;
    opacity: 0.8;
    z-index: 2;
}

body.viewOnly .indexCard .indexCardFooter, #cardContainer.fadeCards .indexCard .indexCardFooter {
    bottom: -33px;
    opacity: 0;
}

.indexCard .colorPicker {
    /* height: 0; */
    position: absolute;
    left: -100%;
    bottom: 32px;
    padding: 0px 4px;
    /* border: 1px solid #e2e2e2; */
    background: #000000;
    z-index: 1;
    transition: 200ms linear all;
    overflow: hidden;
    box-shadow: 0px 0px 6px 0px #bdbdbd;
    opacity: 1;
    border-radius: 2px;
}

.indexCard .colorPicker.isVisible {
    left: 0;
    /* overflow: visible; */
}

.indexCard .colorPickerContainer {
    padding: 2px 2px 2px;
    /* background-color: #ffffff; */
    /* box-shadow: 0px 0px 6px 0px #bdbdbd; */
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
}

.indexCard .colorPickerPopupArrow {
    border: 10px solid transparent;
    border-top-color: #ffffff;
    width: 0;
    border-bottom: 0;
    margin: 0px 2px 2px;
    display: none;
}

.indexCard .colorPicker .colorCode {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    margin: 2px 2px;
    cursor: pointer;
    display: inline-block;
}

.indexCard .colorPicker .colorCode:hover {
    opacity: 0.7;
}

.indexCard.blue .indexCardTitle, .indexCard.blue .currentColor,.indexCard.blue .indexCardBg, .indexCard .colorPicker .colorCode.blue {
    background-color: var(--color-blue);
    ; color: white;
}

.indexCard.red .indexCardTitle, .indexCard.red .currentColor,.indexCard.red .indexCardBg, .indexCard .colorPicker .colorCode.red {
    background-color: var(--color-red);
    ; color: white;
}

.indexCard.green .indexCardTitle, .indexCard.green .currentColor,.indexCard.green .indexCardBg, .indexCard .colorPicker .colorCode.green {
    background-color: var(--color-green);
    ; color: white;
}

.indexCard.orange .indexCardTitle, .indexCard.orange .currentColor,.indexCard.orange .indexCardBg, .indexCard .colorPicker .colorCode.orange {
    background-color: var(--color-orange);
    ; color: white;
}

.indexCard.violet .indexCardTitle, .indexCard.violet .currentColor,.indexCard.violet .indexCardBg, .indexCard .colorPicker .colorCode.violet {
    background-color: var(--color-violet);
    ; color: white;
}

#cardContainer .indexCard .cardMask {
    position: absolute;
    height: 0;
    width: 100%;
    top: 0;
    opacity: 0;
    transition: 200ms linear opacity;
    background: white;
    z-index: 1;
    cursor: pointer;
}

#cardContainer.fadeCards .indexCard .cardMask {
    height : 100%;
    opacity: 0.8;
}

#cardContainer.fadeCards .indexCard.inFocus .cardMask:hover, #cardContainer.fadeCards .indexCard .cardMask:hover {
    background: #9e9e9e2b;
    opacity: 0.8;
}

#cardContainer.fadeCards .indexCard.inFocus .cardMask {
    opacity: 0;
}

#cardContainer .indexCard .statusBox {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 1px solid #e4e4e4;
    line-height: 32px;
    color: #525252;
    z-index: 1;
    text-transform: up;
    font-size: 14px;
}

#cardContainer.fadeCards .indexCard .statusBox {
    display: inline-block;
}

@media only screen and (max-width: 1280px) and (orientation: portrait) {
    .indexCard {
        font-size: medium;
    }

    .indexCardTitle {
        font-size: medium;
        padding: 8px 10px;
    }

    .indexCardContent,.indexCard:hover .indexCardContent {
        font-size: medium;
        padding: 10px 10px;
        height: var(--card-height);
        max-height: 265px;
        border-top-width: var(--card-titleH);
        box-sizing: border-box;
    }
}
