.largeEditor {
    display: none;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    max-width: 18cm;
    height: 98%;
    /* min-height: 600px; */
    background: #e4e4e4;
    z-index: 3;
    border-top: 30px solid white;
    user-select: none;
    box-sizing: border-box;
    border-top: none;
}
.largeEditor .largeEditorHeader {
    height: 35px;
    background: #607D8B;
    text-transform: uppercase;
    line-height: 35px;
    font-size: medium;
    padding: 0px 8px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    background: white;
    color: grey;
    color: #171717;
}

.largeEditor .largeEditorBody {
}
.largeEditor.largeEditorClone .largeEditorBody{
	opacity: 0.8;
}
.largeEditor .largeEditorPanel {
    /* border-bottom: 1px solid #ecebeb; */
    margin: 0px 0 8px;
    position: relative;
}

.largeEditor .editorLabel {
    font-size: small;
    color: #4e4e4e;
    text-transform: capitalize;
    /* font-weight: bold; */
    margin-top: 14px;
    position: relative;
    z-index: 1;
    background: #ffffff;
    display: inline-block;
    margin-left: 10px;
    padding: 0px 10px 4px;
    /* font-weight: bold; */
    border-radius: 10px;
}

.largeEditor .editorValue {
    border: 1px solid #737373;
    border-radius: 4px;
    padding: 11px 14px;
    margin: -10px 0 8PX;
    /* box-shadow: 0px 0px 5px 1px #e2e2e2; */
    COLOR: #000000;
    font-size: medium;
    line-height: 24px;
    overflow-y: auto;
    background: white;
    position: relative;
    display: block;
    width: 100%;
    /* font-family: inherit; */
    box-sizing: border-box;
    outline: none;
}

.largeEditor .editorValue.largeField {
    height: 380px;
    display: block;
    font-family: inherit;
    resize: none;
}

.largeEditor .largeEditorBody {
    position: absolute;
    top: 0;
    height: 100%;
    overflow-y: auto;
    padding: 8px 7px;
    /* background: #f3f3f3; */
    padding: 2px 0 2px 0;
    box-sizing: border-box;
    border-bottom: 48px solid transparent;
    border-top: 35px solid #ffffff00;
    width: 100%;
    overflow-x: hidden;
}

.largeEditor .largeEditorSelect {
    padding: 4px;
    margin: 0 15px;
    border: 1px solid #cfd4d6;
    cursor: pointer;
    color: #cfd4d6;
    border-radius: 2px;
    display: inline-block;
    box-sizing: unset;
    vertical-align: bottom;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
}

.largeEditor .largeEditorFieldContainer {
    margin: 4px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: bottom;
    height: 27px;
    margin: 4px 0px 4px 8px;
}

.largeEditor .largeEditorSelect option {
    cursor: pointer;
    padding: 4px 0;
}

.largeEditor .largeEditorSelect option:hover {
    background-color: #7a9fd8;
    color: white;
}

.largeEditor .largeEditorButtonPane {
    padding: 4px 10px;
    padding: 8px 30px;
    background: white;
    position: absolute;
    bottom: 0;
    padding: 4px 30px;
    background: #e8e8e8;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    border-top: 1px solid #cacaca;
}

.largeEditor .largeEditorButton {
    transition: 100ms linear all;
    /* float: right; */
    height: 30px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 4px;
    margin: 4px 10px;
    cursor: pointer;
    BORDER: 1PX SOLID #2196f3;
    LINE-HEIGHT: 30px;
    BORDER-RADIUS: 4PX;
    background: #2196f3;
    color: white;
    overflow: hidden;
    outline: none;
    float: right;
}


.largeEditor .largeEditorFloatingIcon {
    position: absolute;
    top: 35%;
    z-index: 2;
    color: white;
    font-size: 70px;
    /* font-weight: bold; */
    cursor: pointer;
    transition: 100ms linear all;
}
.largeEditor.largeEditorClone .largeEditorFloatingIcon{
	display:none;
}
.largeEditor .largeEditorFloatingIcon:hover {
    transform: scale(1.1);
}

.largeEditor .largeEditorFloatingIcon.next {
    right: -60px;
}

.largeEditor .largeEditorFloatingIcon.prev {
    left: -60px;
}
.largeEditor.disablePrev .largeEditorFloatingIcon.prev {
	display:none;
}
.largeEditor.disableNext .largeEditorFloatingIcon.next {
	display:none;
}
.largeEditor .largeEditorButton:hover  {
    BACKGROUND: #ffffff00;
    COLOR: #393939;
    border-color: #393939;
}

.largeEditor.blue .largeEditorHeader, .largeEditor.blue .currentColor {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    color: white;
}
.largeEditor.red .largeEditorHeader, .largeEditor.red .currentColor {
    background-color: var(--color-red);
    border-color: var(--color-red);
    color: white;
}

.largeEditor.green .largeEditorHeader, .largeEditor.green .currentColor {
    background-color: var(--color-green);
    border-color: var(--color-green);
    color: white;
}

.largeEditor.orange .largeEditorHeader, .largeEditor.orange .currentColor {
    background-color: var(--color-orange);
    border-color: var(--color-orange);
    color: white;
}

.largeEditor.violet .largeEditorHeader, .largeEditor.violet .currentColor {
    background-color: var(--color-violet);
    border-color: var(--color-violet);
    color: white;
}

.largeEditor.white .largeEditorHeader, .largeEditor.white .currentColor {
    background-color: var(--color-white);
    border-color: #c5c5c5;
    color: black;
}

.largeEditor.blue {
    border-color: var(--color-blue);
}

.largeEditor.red {
    border-color: var(--color-red);
}

.largeEditor.green {
    border-color: var(--color-green);
}

.largeEditor.orange {
    border-color: var(--color-orange);
}

.largeEditor.violet {
    border-color: var(--color-violet);
}

.largeEditor.white {
    border-color: var(--color-white);
}

.largeEditor .colorContainer {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    height: 27px;
}

.largeEditor .currentColor {
    display: inline-block;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border: 1px solid transparent;
}

.largeEditor .colorPicker {
    height: 0;
    position: absolute;
    left: 0;
    top: 27px;
    padding: 0px;
    /* border: 1px solid #e2e2e2; */
    z-index: 3;
    transition: 200ms ease all;
    box-shadow: 0px 0px 6px 0px #bdbdbd;
    opacity: 0;
    overflow: hidden;
}

.largeEditor .colorPicker.isVisible {
    height: 162px;
    opacity: 1;
    /* overflow: visible; */
}

.largeEditor .colorPickerContainer {
    /* padding: 2px 2px 2px; */
    background-color: #ffffff;
    /* box-shadow: 0px 0px 6px 0px #bdbdbd; */
}

.largeEditor .colorPickerPopupArrow {
    border: 10px solid transparent;
    border-top-color: #ffffff;
    width: 0;
    border-bottom: 0;
    margin: 0px 2px 2px;
    display: none;
}

.largeEditor .colorPicker .colorCode {
    height: 27px;
    width: 27px;
    background-color: black;
    cursor: pointer;
}

.largeEditor .largeEditorSearchBox {
    display: block;
    cursor: pointer;
    color: #7a9fd8;
    border-radius: 2px;
    position: relative;
    margin-right: 8px;
}

.largeEditor .largeEditorSearchBox input {
    border: none;
    width: 100%;
    color: #cfd4d6;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    text-transform: uppercase;
    outline: none;
    box-sizing: unset;
    position: relative;
    background: transparent;
    border: 1px solid #828282;
    padding: 4px 10px 4px 10px;
    color: black;
    cursor: text;
    box-sizing: border-box;
    border-radius: 4px;
}

.largeEditor .largeEditorSearchBox .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    line-height: 24px;
    color: #cfd4d6;
    text-transform: uppercase;
    font-size: small;
    padding-left: 10px;
}

.largeEditor .largeEditorSuggestionBox {
}

.largeEditor .largeEditorSuggestionBox .largeEditorSuggestionItem {
}

.largeEditor .colorPicker .colorCode:hover {
    opacity: 0.7;
}

.largeEditor .colorPicker .colorCode.blue {
    background-color: var(--color-blue);
}

.largeEditor .colorPicker .colorCode.red {
    background-color: var(--color-red);
}

.largeEditor .colorPicker .colorCode.green {
    background-color: var(--color-green);
}

.largeEditor .colorPicker .colorCode.orange {
    background-color: var(--color-orange);
}

.largeEditor .colorPicker .colorCode.violet {
    background-color: var(--color-violet);
}

.largeEditor .colorPicker .colorCode.white {
    background-color: var(--color-white);
    border: 1px solid #e0e0e0;
    height: 25px;
    width: 25px;
}
   .largeEditor .largeEditorPanel {
        /* border-bottom: 8px solid #e4e4e4; */
        padding: 0px 0 8px;
        background: white;
    }

    .largeEditor .editorLabel {
        margin-top: 0;
        /* padding-bottom: 2px; */
        border-radius: unset;
        background: none;
        margin-left: 0;
        padding: 8px 8px 4px;
    }

    .largeEditor .editorValue {
        border: unset;
        border-top: 1px solid #e4e4e4;
        margin-top: 0px;
        border-radius: unset;
        box-shadow: none;
        padding: 11px 8px;
    }

    .largeEditor .editorValue.largeField {
		/* height: 320px; */
		}
	.largeEditorTabPanel{
		background: white;
		padding: 4px 0 0;
	}
	.largeEditorTab{
		display: inline-block;
		padding: 4px 0px;
		margin: 0px 8px 0px 8px;
		font-size: small;
		color: #b3b3b3;
		cursor: pointer;
	}
	#largeEditorSummaryTab{
		
	}
	#largeEditorFootnoteTab{
		
	}
	.largeEditorTab.selected{
		border-bottom: 4px solid #4e4e4e;
		color: #4e4e4e;
	}
	body.touchDevice .largeEditor{
		animation-name: dialogAppear;
        animation-duration: 300ms;
	}
	@keyframes dialogAppear {
			from {bottom:-100%;}
			to {bottom: 4px;}
	}
@media only screen and (max-width: 1280px) and (orientation: portrait) {
    .largeEditor {
        width: 100%;
        max-width: unset;
        height: 100%;
        bottom: 4px;
        right: unset;
        left: unset;
    }

	.largeEditor .largeEditorHeader{
		  
	}
    .largeEditor .largeEditorBody {
        padding: 2px 0px;
        border-bottom: unset;
    }

    .largeEditor .largeEditorHeader {
    padding: 0px 8px;
    }

    .largeEditor .largeEditorFloatingIcon {
        position: absolute;
        bottom: 2px;
        z-index: 3;
        top: unset;
        color: #ffffff;
        font-size: 35px;
        font-weight: lighter;
        line-height: 35px;
        height: 40px;
        font-family: monospace;
        width: 40px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        transition: 100ms linear all;
        background: #03a9f4;
        display: none;
    }

    .largeEditor .largeEditorFloatingIcon:hover {
        transform: scale(1.1);
    }

    .largeEditor .largeEditorFloatingIcon.next {
        right: 5px;
        z-index: 3;
    }

    .largeEditor .largeEditorFloatingIcon.prev {
        left: 5px;
    }

    .largeEditor .largeEditorButtonPane {
        /* border: none; */
        width: 100%;
        height: 45px;
        padding: 4px 0px 4px 10px;
        position: fixed;
    }

    .largeEditor .largeEditorButton {
        height: 35px;
        font-size: small;
        line-height: 35px;
        right: unset;
        margin: 0px 1px 0px 1px;
        background: #03a9f4;
        border: none;
        float: unset;
        width: 48%;
        box-sizing: border-box;
    }

    .largeEditor .largeEditorPanel {
        border-bottom: 8px solid #e4e4e4;
        padding: 4px 0;
    }

    .largeEditor .editorLabel {
        margin-top: 0;
        /* padding-bottom: 2px; */
        border-radius: unset;
        background: none;
        margin-left: 0;
        padding: 0px 8px 4px;
    }

    .largeEditor .editorValue {
        border: unset;
        border-top: 1px solid #e4e4e4;
        margin-top: 0px;
        border-radius: unset;
        box-shadow: none;
        padding: 11px 8px;
    }

    .largeEditor .editorValue.largeField {
    height: 300px;
    }

    .largeEditor .largeEditorBody {
    }

    .largeEditor .largeEditorSelect {
    }

    .largeEditor .largeEditorFieldContainer {
    }
}
