body {
    background-color: #f9f8f8;
    width: 18cm;
    left: 0;
    right: 0;
    margin: auto;
}

#printableOverViewContainer {
    background: #ffffff;
    padding: 10px 20px;
    height: auto;
    font-family: calibri;
}

#printableOverviewHeader {
    /* margin: 8px 0; */
    /* text-transform: uppercase; */
    font-weight: bold;
    /* text-decoration: underline; */
    background: #ffffff;
    color: #000000;
    padding: 10px 16px;
    font-size: x-large;
    box-sizing: border-box;
    text-align: center;
}

.overviewItem {
    /* border-bottom: 1px solid #dedcdc; */
    padding: 0px 8px;
    margin-bottom: 12px;
    /* background: #f9f8f8; */
    /* background: white; */
}

.overviewTitle {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.overviewContent {
    font-size: 14px;
}

.overviewItem.violet {
    border-left: 2px solid #673AB7;
}

.overviewItem.blue {
    border-left: 2px solid #7a9fd8;
}

.overviewItem.green {
    border-left: 2px solid #009688;
}

.overviewItem.orange {
    border-left: 2px solid #fbb043;
}

.overviewItem.red {
    border-left: 2px solid #e91e63;
}

#overviewContainerClose ,.overViewContainerHeader {
    display: none;
}

#overviewContainerClose:hover {
    opacity: 0.8
}

#overViewItemContainer {
    height: 100%;
    margin-top: 10px;
}
