:root {
    --color-red: #e91e63;
    --color-blue: #4d81d0;
    --color-green: #009688;
    --color-orange: #ff9800;
    --color-violet: #673AB7;
	--color-white: white;
    --card-width-s: 175px;
    --card-height-s: 175px;
}
body {
    background-color: #f9f8f8;
    width: 18cm;
    left: 0;
    right: 0;
    margin: auto;
}

#printableOverViewContainer {
    background: #ffffff;
    padding: 10px 20px;
    height: auto;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-family: "Open Sans", sans-serif;
}

#printableOverviewHeader {
    /* margin: 8px 0; */
    /* text-transform: uppercase; */
    font-weight: bold;
    /* text-decoration: underline; */
    background: #ffffff;
    padding: 5px 0px;
    font-size: xx-large;
    box-sizing: border-box;
    /* text-align: center; */
    text-align: center;
    text-transform: capitalize;
    color: #282828;
}
div#printableOverviewHeaderAuthor {
        text-align: center;
        font-size: medium;
        text-transform: uppercase;
        color: #6a6a6a;
        font-weight: normal;
}

div#printableOverviewHeaderDate {
    display: block;
    font-weight: normal;
    font-size: small;
    opacity: 0.4;
    text-align: center;
    margin-top: 4px;
}
.overviewItem {
   /* border-bottom: 1px solid #ececec;*/
   padding: 10px 0px 10px;
   margin-bottom: 4px;
   background: #f9f8f8;
   background: white;
}

.overviewTitle {
    font-size: medium;
    margin-bottom: 0px;
    font-weight: bold;
    /* font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; */
    color: black !important;
}

.overviewItem .overviewItemBullet {
    height: 14px;
    width: 14px;
    background: black;
    display: inline-block;
    margin-right: 4px;
}

.overviewContent {
    font-size: medium;
    color: #373737;
    margin: 4px 0;
    font-weight: normal;
    /* font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; */
}
.overviewNotes{
    background-color: #efefef;
    padding: 8px 4px;
    border-radius: 4px;
}
.overviewItem.violet .overviewTitle{
   color: var(--color-violet)
}
.overviewItem.white .overviewTitle{
     color: black;
}
.overviewItem.blue .overviewTitle{
    color: var(--color-blue)
}

.overviewItem.green .overviewTitle{
     color: var(--color-green);
}

.overviewItem.orange .overviewTitle{
     color: var(--color-orange);
}

.overviewItem.red .overviewTitle{
     color: var(--color-red);
}
#overviewContainerClose ,.overViewContainerHeader {
    display: none;
}

#overviewContainerClose:hover {
    opacity: 0.8
}

#overViewItemContainer {
    /* height: 100%; */
    margin-top: 10px;
    padding-top: 8px;
    border-top: 1px solid #bababa;
}
