:root {
    --color-red: #e91e63;
    --color-blue: #4d81d0;
    --color-green: #009688;
    --color-orange: #ff9800;
    --color-violet: #673AB7;
    --card-width-s: 175px;
    --card-height-s: 175px;
}

body {
    --color-actNone: #fffffffa;
    --color-act1: #2196f3;
    --color-act2A: #ffc107;
    --color-act2B: #009688;
    --color-act3: #e91e63;
	--color-TextColorActNone: black;
	--color-TextColorAct1: white;
	--color-TextColorAct2A: black;
	--color-TextColorAct2B: white;
	--color-TextColorAct3: white;
}

body.theme2 {
    --color-red: #f6a6b2;
    --color-blue: #90d2d8;
    --color-green: #b7ded2;
    --color-orange: #f7c297;
    --color-violet: #af90d8;
}

@media only screen and (max-width: 1280px) {
    :root {
        --card-width: 300px;
        --card-height: 240px;
        --card-titleH: 35px;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 1280px) {
    :root {
        --card-width: 300px;
        --card-height: 240px;
        --card-titleH: 35px;
    }
}

@media only screen and (min-width: 1801px) {
    :root {
        --card-width: 300px;
        --card-height: 240px;
        --card-titleH: 35px;
    }
}

@media only screen and (max-width: 1280px) and (orientation: portrait) {
    :root {
        --card-width: 350px;
        --card-height: 375px;
        --card-titleH: 60px;
    }
}

@media only screen and (max-width: 349px) and (min-width: 235px) and (orientation: portrait) {
    :root {
        --card-width: 275px;
        --card-height: 240px;
        --card-titleH: 35px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
