.dropDown {
    display: inline-block;
    position: relative;
    overflow-x: visible;
}

.dropDown .dropDownValue {
    border: 1px solid  #737373;
    padding: 5px 30px 4px 10px;
    color: #000000;
    cursor: pointer;
}

.dropDown .dropDownArrow {
    position: absolute;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    top: 12px;
    right: 12px;
    border-top-color: #7d7d7d;
    border-bottom: none;
    cursor: pointer;
}

.dropDown .dropDownOptionContainer {
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 2;
    overflow-x: hidden;
    box-shadow: 0px 4px 4px 0px #bdbdbd;
}

.dropDown .dropDownOption {
    background: #2196F3;
    color: white;
    padding: 4px 12px;
    border-bottom: 1px solid white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    /* box-shadow: 0px 0px 4px 2px grey; */
}

.dropDown .dropDownOption span {
    position: absolute;
    left: 100%;
    background: black;
    color: white;
    display: none;
    z-index: 2;
    top: 0;
    width: auto;
    /* width: 200px; */
    padding: 4px 8px;
}

.dropDown .dropDownOption:hover span {
    display: none;
}

.dropDown .dropDownValue:hover, .dropDown .dropDownOption:hover {
    background: white;
    color: black;
}

@media only screen and (max-width: 500px) and (min-width: 235px) and (orientation: portrait) {
    .dropDown .dropDownOptionContainer {
        position: fixed;
        width: 100%;
        box-shadow: unset;
        width: fit-content;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        height: fit-content;
        background: #ffffff;
    }

    .dropDown .dropDownOptionContainer:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000096;
    }

    .dropDown .dropDownOption {
        background: #ffffff;
        color: #2196f3;
        padding: 10px 40px;
        margin: 1px;
        cursor: pointer;
        position: relative;
        z-index: 0;
        text-align: center;
        font-size: 20px;
        width: auto;
        border-bottom: none;
    }
}
